In [4]:
import pandas as pd
from sklearn.metrics import accuracy_score

In [6]:
from sentiment_explorerVersion7 import *

In [7]:
def pdColumn_to_list_converter(df):
    df_list = df.values.tolist() #produces list of lists
    proper_list = [item for sublist in df_list for item in sublist] #a single list
    return proper_list

In [9]:
df = pd.read_csv('initial data as well as targeted output-RA-data-example -jiaxin-simple.csv')  #import reviews
df.head()

df.head()

,Sentiment,Sentiment Num,Multi,Text
0,Positive,1,1,"((3(4 you are all hail, good."
1,Negative,-1,-1,He is old age 4)4) @SBSTransit_Ltd.
2,Positive,1,1,haha fat farm!0)0 https://t.co/Nr8bEP93p0.
3,Negative,-1,-2,it is really that hard to get another PMET lev...
4,Negative,-1,-1,It could have saved his life ...

In [10]:
import re

def newtext(text):
    text = text.strip()
    text = text.replace('/\s\s+/g', ' ') # replace multiple spaces with a single space
    text = re.sub ('\s+', ' ', text)
    text = re.sub('@[^\s]+','',text)  # delete the username
    text = re.sub('&[^\s]+','',text)
    text = re.sub('#[^\s]+','',text)
    text = re.sub('".*?"', '', text)  # delete anything in quotation marks
    text = re.sub('http[s]?://\S+', '', text) # delete urls
    text = text.replace("extension service","extension-service") ##
    text = text.replace("extracurricular activity","extracurricular-activity")
    text = text.replace("old age","old-age")
    text = text.replace("fat farm","fat-farm")
    text = text.replace("all hail","all-hail")
    text = text.replace("feel like a million","feel-likeamillion")
      
    text = re.sub("\S*@\S*\s?",'',text)   # delete email address
    text = text.replace('\n', ' ').replace('\r', '')  # Clean up all "\n"
    
    text = re.sub(r"""
               [()@#?!&$]+  # Accept one or more copies of punctuation
               \ *           # plus zero or more copies of a space,
               """,
               "",          # and replace it with no space
               text, flags=re.VERBOSE)
    
    text = text.replace('.', ' .') #specially added to maintain fullstop
    text = text.replace('?', ' ?') #specially added to maintain question mark
    text = text.replace('!', ' !') #specially added to maintain exclamation mark
    text = text.replace(',', ' ,') #specially added to maintain exclamation mark
    text = text.replace(';', ' ;') #specially added to maintain exclamation mark
    text = text.replace(':', ' :') #specially added to maintain exclamation mark
    
    text= re.sub(' +', ' ', text)
    #text= re.sub(':', '', text)
    text= re.sub("[:']", '', text)
    #text = re.sub ('\s+', '', text)
    return text.lower()

In [11]:
df["Text"] = df['Text'].apply(lambda text: newtext(text))

In [12]:
df.drop(df.columns[0], axis=1)

    Sentiment Num  Multi                                               Text
0               1      1                       34 you are all-hail , good .
1              -1     -1                                   he is old-age 44
2               1      1                                   haha fat-farm00
3              -1     -2  it is really that hard to get another pmet lev...
4              -1     -1  it could have saved his life without the alcoh...
5               1      1  i obtain award today , and feel-likeamillion d...
6              -1     -1                               its just plain sad .
7              -1     -1  wonder how/what/who determines which ones get ...
8              -1     -1              coz singaporean drivers dont give way
9               1      1              thank you uncle for the care delivery
10              1      1                        thanks smrt and sbs transit
11              1      2  0 thank you . thank you who offered to send me...
12             -1     -1  in the morning 1 .43 is deducted and in the ev...
13             -1     -1             wowseriouslypicture might being edited
14             -1     -1   fix your shit , almost 30 mins for a bus what...
15             -1     -1  it is late , almost 30 mins for a bus , what i...
16              0      0   from sbs transit at ne4/dt19 chinatown mrt in...